%content
  #about-us.padded-content
    %h1.text-justify.text-center
      About Us
    %p Green Innovators is a social enterprise that aims to improve farming prospects and awareness in India to reduce the high suicide rates of farmers and save the lives of farmers in the future.
    %p Their answer to this problem is a web and mobile app which can provide farmers with up-to-date, relevant information on farming techniques, weather, market prices, and connect them to suppliers and agricultural experts, to help their farming businesses thrive.

  #weather.padded-content
    %h2 Weather
    %hr
    .row
      #weather0.col-md-6.col-sm-12
      #weather1.col-md-6.col-sm-12
    .row.text-right
      %a{href: weather_path}
        See more on weather

  #market.padded-content{style: "padding-top: 20px"}
    %h2 Market
    %hr
    .row
      .col-md-6.col-sm-12
        = image_tag 'market.jpg', class:"card-img-bottom", alt:"a local fruit vendor", height: 300
      .col-md-6.col-sm-12
        - @market.each do |m|
          %h3= m.title
          =raw m.peek
    .row
      %a{href: market_index_path}
        More on market conditions

  #news.padded-content{style: "padding-top: 20px"}
    %h2 News
    %hr
    .row
      .col-md-6.col-sm-12
        - @news.each do |n|
          %h3= n.title
          =raw n.peek
      .col-md-6.col-sm-12
        = image_tag 'news.jpg', class:"card-img-bottom", alt:"Illustrative image of a man reading newspaper", height: 300
    .row
      %a{href: news_index_path}
        More news

  #guides.padded-content{style: "padding-top: 20px"}
    %h2 Guides
    %hr
    .row
      .col-md-6.col-sm-12
        = image_tag 'guides.jpg', class:"card-img-bottom", alt:"book shelf with a lot of books", height: 300
      .col-md-6.col-sm-12
        - @guides.each do |g|
          %h3= g.title
          =raw g.peek
    .row
      %a{href: guides_path}
        Learn more

  #finance.padded-content{style: "padding-top: 20px"}
    %h2 Finance
    %hr
    .row
      .col-md-6.col-sm-12
        - @finance.each do |f|
          %h3= f.title
          =raw f.peek
      .col-md-6.col-sm-12
        = image_tag 'finance.jpg', class:"card-img-bottom", alt:"50 Rupee note", height: 300
    .row
      %a{href: finance_index_path}
        More finance options

  #blog.padded-content{style: "padding-top: 20px"}
    %h2 Blogs
    %hr
    .row
      .col-md-6.col-sm-12
        = image_tag 'blog.jpg', class:"card-img-bottom", alt:"a work desk", height: 300
      .col-md-6.col-sm-12
        - @blogs.each do |b|
          %h3= b.title
          =raw b.peek
    .row
      %a{href: '#'}
        Read more
